#  █████▒▄▄▄       ██▓     ██▓     ▄▄▄▄    ▄▄▄       ▄████▄   ██ ▄█▀     ██████ ▓█████  ██▀███   ██▒   █▓▓█████  ██▀███
#▓██   ▒▒████▄    ▓██▒    ▓██▒    ▓█████▄ ▒████▄    ▒██▀ ▀█   ██▄█▒    ▒██    ▒ ▓█   ▀ ▓██ ▒ ██▒▓██░   █▒▓█   ▀ ▓██ ▒ ██▒
#▒████ ░▒██  ▀█▄  ▒██░    ▒██░    ▒██▒ ▄██▒██  ▀█▄  ▒▓█    ▄ ▓███▄░    ░ ▓██▄   ▒███   ▓██ ░▄█ ▒ ▓██  █▒░▒███   ▓██ ░▄█ ▒
#░▓█▒  ░░██▄▄▄▄██ ▒██░    ▒██░    ▒██░█▀  ░██▄▄▄▄██ ▒▓▓▄ ▄██▒▓██ █▄      ▒   ██▒▒▓█  ▄ ▒██▀▀█▄    ▒██ █░░▒▓█  ▄ ▒██▀▀█▄
#░▒█░    ▓█   ▓██▒░██████▒░██████▒░▓█  ▀█▓ ▓█   ▓██▒▒ ▓███▀ ░▒██▒ █▄   ▒██████▒▒░▒████▒░██▓ ▒██▒   ▒▀█░  ░▒████▒░██▓ ▒██▒
# ▒ ░    ▒▒   ▓▒█░░ ▒░▓  ░░ ▒░▓  ░░▒▓███▀▒ ▒▒   ▓▒█░░ ░▒ ▒  ░▒ ▒▒ ▓▒   ▒ ▒▓▒ ▒ ░░░ ▒░ ░░ ▒▓ ░▒▓░   ░ ▐░  ░░ ▒░ ░░ ▒▓ ░▒▓░
# ░       ▒   ▒▒ ░░ ░ ▒  ░░ ░ ▒  ░▒░▒   ░   ▒   ▒▒ ░  ░  ▒   ░ ░▒ ▒░   ░ ░▒  ░ ░ ░ ░  ░  ░▒ ░ ▒░   ░ ░░   ░ ░  ░  ░▒ ░ ▒░
# ░ ░     ░   ▒     ░ ░     ░ ░    ░    ░   ░   ▒   ░        ░ ░░ ░    ░  ░  ░     ░     ░░   ░      ░░     ░     ░░   ░
#             ░  ░    ░  ░    ░  ░ ░            ░  ░░ ░      ░  ░            ░     ░  ░   ░           ░     ░  ░   ░
#                                       ░           ░                                                ░
# Made by CandiesJar | Github: github.com/sasi2006166 | Discord: https://discord.gg/dJ8DG2cSzt | Telegram: @CandiesJar
# BungeeCord configuration file

# IMPORTANT WARNING: Before reporting any issue on discord, carefully READ ALL the comments!
# Some features are MISSING/DISABLED since they're under work, no support is provided on them.
# Thanks for understanding.

settings:

  # Enables debug mode, useful for bug reports.
  # /fs debug will be enabled and addition logs will
  # be printed inside the console.
  debug: false

  # Only players with admin permission will be able to use tab-complete for /fs.
  command_tab_complete: true

  # Choose if you want to use a different ping strategy for your lobbies.
  # DEFAULT: Normal strategy uses standard BungeeCord pinging method, checking online players too.
  # SOCKET: This mode will use a socket connection to check if the server is online.
  # WARNING: Change it only if you're encountering issues.
  # WARNING (2): Socket mode will NOT check for online players.
  ping_mode: DEFAULT

  # Defined in seconds, will check your lobbies' status each X seconds.
  # On start or reboot, let the plugin settle down for the defined time before starting using fallback.
  # There are no recommended values, but avoid putting too low values.
  ping_delay: 8

  # Choose if you want to enable the updater.
  updater: true

  # Add here your groups with their servers and lobbies.
  # Each group can be set in different modes.
  # AVAILABLE MODES:
  # FALLBACK, DEFAULT: Players will be moved to a random server inside the group when kicked.
  # RECONNECT: Players will enter reconnect phase when kicked from any server inside the group.
  fallback:
    bedwars:
      servers:
        - bwgame1
        - bwgame2
        - bwgame3
      lobbies:
        - bwlobby1
        - bwlobby2
        - bwlobby3
      mode: FALLBACK
    survival:
      servers:
        - survival
      lobbies:
        - lobby1
        - lobby2
        - lobby3
      mode: RECONNECT
    default: # This is the default group used for join balancing and fallback if no group is specified, so make sure to have it.
      servers:
        - lobby1
        - lobby2
        - lobby3
      mode: DEFAULT

  # Disable player kicking if the plugin detects any of listed reasons.
  # Example: player gets banned on (only) spigot instance using Essentials
  # FallbackServer will disconnect him instead of kicking.
  ignored_reasons:
    - "ban"
    - "flying"
    - "whitelist"
    - "packets"
    - "full"
    - "afk"
    - "outdated"
    - "timeout"
    - "maintenance"

  # Settings for clearing chat when moving players.
  clear_chat:
    fallback: true
    server_switch: false
    reconnect: false
    reconnect_join: true

  # This option enables join balancing, which by default is disabled to prevent misconfiguration.
  # WARNING: Make sure to properly configure the plugin before enabling this option, otherwise it may
  # cause issues with player joining.
  join_balancing: false

  # Works if "join_balancing" is set on true.
  # Choose here the group used to join balancing.
  join_balancing_group: "default"

  # Customize options such as max tries, delays, ignored reasons and more.
  # This will only work if the group mode is set to RECONNECT.
  auto_reconnect:
    # Maximum number of tries before moving the player to a fallback lobby.
    max_tries: 8

    # This delay is used before starting the pinging process, defined in seconds.
    # WARNING: Change the value only if you're encountering issues.
    ping_delay: 20

    # This option is used by the addon ping system
    # for checking if the spigot instance is fully started up.
    # WARNING: Change the value only if you're encountering issues.
    # WARNING 2: Remember to change the value also inside spigot addon.
    player_count_check: -1

    # With this option, you can teleport players to a physical server
    # when they're reconnecting. Useful if you want to entertain your players.
    # WARNING: You need to have the spigot addon installed and configured.
    physical_reconnect:
      enabled: false
      server: "reconnectsv"

    # This option will trigger the normal kicking procedure.
    # If set on false, the plugin will disconnect the player instead of kicking.
    player_sort: true

    # Delay before actual connecting the player to the server, useful
    # for preventing spigot instance overload.
    # In seconds.
    connection_delay: 7

    # This is the timeout for checking if the server
    # is online or not using a pinging method.
    # In milliseconds.
    ping_threshold: 2000

    # Determines the delay before starting
    # the actual reconnection, useful for preventing
    # backend replying to my plugin ping request on
    # server stop (like /restart).
    task_delay: 15

    # Choose if you want to clear the tab-list when
    # a player enters the "limbo" while reconnecting.
    # Useful for preventing visual bugs with names, especially
    # after reconnecting
    clear_tab-list: true

    # Ignored reasons for reconnecting.
    # If players get kicked for one of those reasons
    # they will not be reconnected, instead they will be
    # disconnected from the proxy itself.
    ignored_reasons:
      - "ban"
      - "flying"
      - "kick"
      - "afk"
      - "outdated"
      - "whitelist"
      - "connected"
      - "full"
      - "spam"
      - "packets"
      - "maintenance"

    # Ignored servers for reconnecting.
    # If players get kicked from one of those servers,
    # they will not be reconnected, instead they will be
    # moved to a fallback lobby.
    # Add event servers, such as minigames, here.
    ignored_servers:
      - lobby1
      - lobby2
      - lobby3

    # Title can be customized into messages configuration.
    # Available in messages.yml
    title:
      enable: true
      # NORMAL: The normal animated title with dots
      # PULSE: A title that simulates the heartbeat
      # STATIC: Title will not animate dots
      # You can customize it in messages.yml
      mode: NORMAL

  # Checks if stats should be enabled -> https://bstats.org/plugin/bungeecord/FallbackServer/11817,
  # By default, this setting is set on "true" to help me improve the plugin.
  # Obviously, you can disable it if you want, feel free to do so.
  telemetry: true

  # Administrator will be notified which server goes down and the complete reason of shutdown.
  # DISABLED.
  admin_notification: true

  # Enable the in-built command blocker functionality.
  # Useful in case you want to block some commands on specific servers, for
  # example, during a screen-share session.
  command_blocker: true

  # WARNING: will only work if "command_blocker" is set on true.
  # Add here the servers with the command(s) you want to block.
  # TEMPLATE:
  # command_blocker_list:
  #   server_name:
  #     - command1
  #     - command2
  command_blocker_list:
    hack_control:
      - lobby
      - hub
    hack_control_2:
      - lobby
      - hub

  # If you want to use the /lobby command.
  lobby_command: true

  # WARNING: works only if "lobby_command" is set on true.
  # Aliases for /lobby command, it's possible to remove the base /hub command too.
  lobby_command_aliases:
    - hub
    - lobby

  # Enable server blocklist feature, such for authentication servers.
  ignored_servers: true

  # WARNING: Works only if "use_ignored_servers" is set on true.
  # Add here your pre-lobbies or any server you want to disable.
  # Kicking will be disabled on those and player will be disconnected.
  ignored_servers_list:
    - prelobby1

sub_commands:

  # Enabled: true, will enable the selected sub-command.
  # Permission: permission required to use the sub-command.

  admin:
    permission: "fallback.admin"

  reload:
    permission: "fallback.admin.reload"

  debug:
    permission: "fallback.admin.debug"

  add:
    enabled: true
    permission: "fallback.admin.add"

  remove:
    enabled: true
    permission: "fallback.admin.remove"

  status:
    enabled: true
    permission: "fallback.admin.status"

  servers:
    enabled: true
    permission: "fallback.admin.servers"

  stop:
    enabled: false
    permission: "fallback.admin.stop"
