#  █████▒▄▄▄       ██▓     ██▓     ▄▄▄▄    ▄▄▄       ▄████▄   ██ ▄█▀     ██████ ▓█████  ██▀███   ██▒   █▓▓█████  ██▀███
#▓██   ▒▒████▄    ▓██▒    ▓██▒    ▓█████▄ ▒████▄    ▒██▀ ▀█   ██▄█▒    ▒██    ▒ ▓█   ▀ ▓██ ▒ ██▒▓██░   █▒▓█   ▀ ▓██ ▒ ██▒
#▒████ ░▒██  ▀█▄  ▒██░    ▒██░    ▒██▒ ▄██▒██  ▀█▄  ▒▓█    ▄ ▓███▄░    ░ ▓██▄   ▒███   ▓██ ░▄█ ▒ ▓██  █▒░▒███   ▓██ ░▄█ ▒
#░▓█▒  ░░██▄▄▄▄██ ▒██░    ▒██░    ▒██░█▀  ░██▄▄▄▄██ ▒▓▓▄ ▄██▒▓██ █▄      ▒   ██▒▒▓█  ▄ ▒██▀▀█▄    ▒██ █░░▒▓█  ▄ ▒██▀▀█▄
#░▒█░    ▓█   ▓██▒░██████▒░██████▒░▓█  ▀█▓ ▓█   ▓██▒▒ ▓███▀ ░▒██▒ █▄   ▒██████▒▒░▒████▒░██▓ ▒██▒   ▒▀█░  ░▒████▒░██▓ ▒██▒
# ▒ ░    ▒▒   ▓▒█░░ ▒░▓  ░░ ▒░▓  ░░▒▓███▀▒ ▒▒   ▓▒█░░ ░▒ ▒  ░▒ ▒▒ ▓▒   ▒ ▒▓▒ ▒ ░░░ ▒░ ░░ ▒▓ ░▒▓░   ░ ▐░  ░░ ▒░ ░░ ▒▓ ░▒▓░
# ░       ▒   ▒▒ ░░ ░ ▒  ░░ ░ ▒  ░▒░▒   ░   ▒   ▒▒ ░  ░  ▒   ░ ░▒ ▒░   ░ ░▒  ░ ░ ░ ░  ░  ░▒ ░ ▒░   ░ ░░   ░ ░  ░  ░▒ ░ ▒░
# ░ ░     ░   ▒     ░ ░     ░ ░    ░    ░   ░   ▒   ░        ░ ░░ ░    ░  ░  ░     ░     ░░   ░      ░░     ░     ░░   ░
#             ░  ░    ░  ░    ░  ░ ░            ░  ░░ ░      ░  ░            ░     ░  ░   ░           ░     ░  ░   ░
#                                       ░           ░                                                ░
# Made by CandiesJar | Github: github.com/sasi2006166 | Discord: https://discord.gg/dJ8DG2cSzt | Telegram: @CandiesJar
# Addon configuration file

settings:

  # Here you can set up FallbackServer's addon.
  # If you want to use this addon normally, you need to set the mode to 'ADDON'.
  # If you want to use this addon as Reconnect Server, you need to set the mode to 'STANDALONE'.
  mode: 'NONE'

  # Here you can set up the plugin reload's permission and message.
  reload_permission: 'fallbackserver.reload'
  reload_message: '&7&lF&b&lS &8&l» &b&nFallback Server Addon %version%&r&7 reloaded successfully.'

  # true: Normal players will not be able to see the /fsa output.
  # false: Everyone will be able to see the simple "running fallbackserver" message.
  hide_command: false

  # NOTE: This will work only if you set up the mode to 'ADDON'.
  addon:

    # If you enable this, the plugin will automatically shutdown itself when the work is done.
    # Leave it enabled for better performance.
    # It's normal if you see the plugin shutting down itself and is showing red in plugin's list.
    auto_remove: false

    # NOTE: This shouldn't be changed unless you know what you're doing.
    # This changes the number that the main fallbackserver plugin uses to check if the server is fully started.
    # If you change this, you will need to change the fallbackserver plugin's config as well.
    override_player_count_number: -1

    # NOTE: This shouldn't be changed unless you know what you're doing.
    # This changes the time (in seconds) to disable the addon after the server is started.
    # If you are having problems with fallbackserver (in reconnect), you could increase this value.
    disable_after: 30

  # NOTE: This will work only if you set up the mode to 'STANDALONE'.
  standalone:

    # When a player joins the server, the plugin will automatically teleport him to the world spawn (/setworldspawn).
    teleport_worldspawn: true

    # You can block some events here, to prevent players from doing something during the reconnect.
    event_blocker:

      damage: true
      block_break: true
      block_place: true
      hunger: true
      item_drop: true
      item_pickup: true
      interact: true
      pvp: true
      chat: false
      move: false
      command: true
      weather_cycle: true

    # NOTE: If you want to disable the join/quit messages, set the values to "none".
    join_message: "&7[&a+&7] %player_name%"
    quit_message: "&7[&c-&7] %player_name%"

    # You can set up the scoreboard here, you can use color codes and placeholders, hex colors are supported.
    scoreboard:
      enabled: true
      update_interval: 20 # In ticks
      title: "&c&lRECONNECTING"
      lines:
        - ""
        - "&7The server suddenly"
        - "&7went &c&ldown&7."
        - ""
        - "&7We're trying to"
        - "&7reconnect you."
        - ""
        - "&emc.yourserver.com"

    # Will work from 1.8 and up, versions <= 1.7 may not work.
    actionbar:
      enabled: true
      message: "&cYou are currently in reconnect mode. Please wait until the server is fully started."
