#  █████▒▄▄▄       ██▓     ██▓     ▄▄▄▄    ▄▄▄       ▄████▄   ██ ▄█▀     ██████ ▓█████  ██▀███   ██▒   █▓▓█████  ██▀███
#▓██   ▒▒████▄    ▓██▒    ▓██▒    ▓█████▄ ▒████▄    ▒██▀ ▀█   ██▄█▒    ▒██    ▒ ▓█   ▀ ▓██ ▒ ██▒▓██░   █▒▓█   ▀ ▓██ ▒ ██▒
#▒████ ░▒██  ▀█▄  ▒██░    ▒██░    ▒██▒ ▄██▒██  ▀█▄  ▒▓█    ▄ ▓███▄░    ░ ▓██▄   ▒███   ▓██ ░▄█ ▒ ▓██  █▒░▒███   ▓██ ░▄█ ▒
#░▓█▒  ░░██▄▄▄▄██ ▒██░    ▒██░    ▒██░█▀  ░██▄▄▄▄██ ▒▓▓▄ ▄██▒▓██ █▄      ▒   ██▒▒▓█  ▄ ▒██▀▀█▄    ▒██ █░░▒▓█  ▄ ▒██▀▀█▄
#░▒█░    ▓█   ▓██▒░██████▒░██████▒░▓█  ▀█▓ ▓█   ▓██▒▒ ▓███▀ ░▒██▒ █▄   ▒██████▒▒░▒████▒░██▓ ▒██▒   ▒▀█░  ░▒████▒░██▓ ▒██▒
# ▒ ░    ▒▒   ▓▒█░░ ▒░▓  ░░ ▒░▓  ░░▒▓███▀▒ ▒▒   ▓▒█░░ ░▒ ▒  ░▒ ▒▒ ▓▒   ▒ ▒▓▒ ▒ ░░░ ▒░ ░░ ▒▓ ░▒▓░   ░ ▐░  ░░ ▒░ ░░ ▒▓ ░▒▓░
# ░       ▒   ▒▒ ░░ ░ ▒  ░░ ░ ▒  ░▒░▒   ░   ▒   ▒▒ ░  ░  ▒   ░ ░▒ ▒░   ░ ░▒  ░ ░ ░ ░  ░  ░▒ ░ ▒░   ░ ░░   ░ ░  ░  ░▒ ░ ▒░
# ░ ░     ░   ▒     ░ ░     ░ ░    ░    ░   ░   ▒   ░        ░ ░░ ░    ░  ░  ░     ░     ░░   ░      ░░     ░     ░░   ░
#             ░  ░    ░  ░    ░  ░ ░            ░  ░░ ░      ░  ░            ░     ░  ░   ░           ░     ░  ░   ░
#                                       ░           ░                                                ░
# Made by CandiesJar | Github: github.com/sasi2006166 | Discord: https://discord.gg/fmUc6g3x | Telegram: @CandiesJar

settings:

  # Only players with permission will be able to tab-complete the command.
  command_tab_complete: true

  # False: Only players with permission will be able to see main command output.
  # True: Players without permission will receive the output message of main command (limited).
  command_without_permission: true

  # As it says, enables updates checking.
  check_updates: true

  # In seconds, checks the lobby list every 5 seconds, recommended staying with default value.
  # On first start / reboot, let the plugin settle down for 5 seconds before start using fallback.
  task_period: 5

  # Checks if stats should be enabled -> https://bstats.org/plugin/bungeecord/FallbackServer/11817
  stats: true

  # Enable if you want to block lobby commands in specified servers.
  # Example: A player needs to checked for hacks and tries to use /lobby command in a server dedicated for that.
  disabled_servers: true

  # Add here the servers with the command(s) you want to block.
  # You can block any command, not only lobby command.
  disabled_servers_list:
    hack_control:
      - lobby
      - hub
    hack_control_2:
      - lobby
      - hub

  # Example: If the kicked message contains this (those) words the player will NOT be kicked.
  blacklisted_words:
    - "ban"
    - "whitelist"
    - "full"

  # Add here your lobbies, those will be used as fallback.
  # Those servers will also be used for the /lobby command.
  fallback_list:
    - lobby1
    - lobby2
    - lobby3

  # If you want to use the /lobby command (with aliases).
  # Requires Proxy reboot for applying changes.
  lobby_command: true

  # Aliases for /lobby command, it's possible to remove the base /hub command too.
  lobby_command_aliases:
    - hub
    - lobby

  # True: Enable blacklist, (Player needs to log-in but the server goes down, the plugin will not enable fallback).
  server_blacklist: true

  # Add here the blacklisted servers, such as pre-lobbies with authentication plugins.
  server_blacklist_list:
    - testsv

sub_commands:

  # Enabled: true, will enable the selected sub-command.
  # Permission: permission required to use the sub-command.

  admin:
    permission: "fallback.admin"

  reload:
    permission: "fallback.admin.reload"

  add:
    enabled: true
    permission: "fallback.admin.add"

  remove:
    enabled: true
    permission: "fallback.admin.remove"

  set:
    enabled: true
    permission: "fallback.admin.set"

  status:
    enabled: true
    permission: "fallback.admin.status"